html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  background: #f0f2f4;
}
.navbar.is-white {
  background: #f0f2f4;
}
.navbar-brand .brand-text {
  font-size: 1.11rem;
  font-weight: bold;
}


.is-centered {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center;     /* Center content vertically */
  flex-direction: column;  /* Stack children vertically */
  height: 100%;            /* Optional: You might need to set a height if the container doesn't have one */
  text-align: center;
}

.articles-padding {
  padding-top: 10rem; /* Adjust the value as necessary */
}

.articles {
  margin: 3rem 0;
  margin-top: -200px;
}
.articles .content p {
  line-height: 1.9;   /*Adjust the height b/w lines*/
  margin: 1px 0;
  text-align: justify;
  font-size: 16px;
  margin-left: 70px;  /* Adjust this value as per your requirement */
  margin-right: 70px; /* Adjust this value as per your requirement */
  margin-bottom: 0.5rem;
}
.author-image {
  position: absolute;
  top: -30px;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  border: 3px solid #ccc;
  border-radius: 50%;
}

.article.first-block {
  margin-top: 6rem;
}
.article, .promo-block {
  margin-top: 4rem;
}
div.column.is-8:first-child {
  padding-top: 0;
  margin-top: 0;
}
.article-title {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1;
}
.article-subtitle {
  color: #909aa0;
  margin-bottom: 3rem;
}
.article-body {
  line-height: 1.4;
  margin: 0 6rem;
}
.gradientback {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 80%);
}

/* START blog */
.blogs {
  margin: 1rem 0;
}

.blogs .content p {
  line-height: 1.9;   /*Adjust the height b/w lines*/
  margin: 1px 0;
  text-align: justify;
  align-items: center;
  font-size: 20px;
  margin-left: 70px;  /* Adjust this value as per your requirement */
  margin-right: 70px; /* Adjust this value as per your requirement */
  margin-bottom: 0.5rem;
}

.blog-title {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1;
  text-align: center;
}

.centered-blog-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.image-caption {
  margin-top: 10px; /* Add space between the image and the caption */
  color: #000000; 
  font-style: italic; /* Italicize the text */
  text-align: center;
}

/* END blog */

div.clipped {
  width:100%;
  height: 250px;
  overflow: hidden;
  text-overflow: clip;
}

div.hoverable {
  opacity: 0.8;
}

div.hoverable:hover {
  opacity: 1.0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer {
  text-align: center;
}

.promo-block .container {
  margin: 1rem 5rem;
}

/* Peer Review Process Diagram */
.process-diagram {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.process-diagram .content {
  padding: 10px 20px;
  background-color: #e9e9e9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.arrow {
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #e9e9e9;
}


/*Paper Review Process*/

.step-box{
  background-color: #e9e9e9;
  border: 1 px solid #ccc;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1.5em;
  width: 100%;
}

.step-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.step-content {
  text-align: justify;
  padding: 0.5em;
}

/* Contact Info Box */
.contact-section {
  width: 100%;
  background-color: #ccc;
}
.contact-section.content {
  font-size: 24px;
}

/* If you're using the sticky footer, make sure to add padding/margin to the main content so it doesn't overlap the footer. */

:root {
  ::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #efefef;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background: #d5d5d5;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #c4c4c4;
  }
}

.bio-collapsible {
  overflow:hidden;
  transition:max-height 0.2s ease-out;
  text-overflow:ellipsis;
}
.journaleditions{
  background-color: #050019;
  display: flex;
  flex: row;
  flex-direction: end;
  height: auto;
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 10px;
}
.journaledition1,
.journaledition2, 
.journaledition3{
  display: flex;
  flex: row;
  flex-direction: end;
  height: auto;
  width: 10%;
  border-radius: 2px;
  background-color: #041333;
  box-shadow: rgba(		250,	152,	57, 0.35) 0px 10px 25px;
  margin: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom:10px;
  padding-right: 10px;
  text-align: center;
}
.journaledition1 img,
.journaledition2 img, 
.journaledition3 img{
  border: 1px solid #b04d13;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  box-shadow: #fa9839 0px 0px 10px;
}
